<!-- <div class="row">
  <div class="col-sm-12"> -->
    <ul class="list-group"
      *ngFor="let todo of todos">
      <li class="list-group-item">
        <div class="row">
          <span class="col-sm-1">
            <input type="checkbox" 
            [checked]="todo.isCompleted" 
            (change)="changeTodoStatus(todo)"
            style="cursor: pointer;" />
          </span>
      
          <span [ngClass]="{ completedTodo: todo.isCompleted }"
          class="col-sm-8">
            {{ todo.title | uppercase }}
          </span>
      
          <span [ngClass]="{ completedTodo: todo.isCompleted }"
          class="col-sm-2">
            {{ todo.date | date }}
          </span>
      
          <span class="col-sm-1">
            <fa-icon [icon]="faTrashAlt" 
              class="icon" 
              style="cursor: pointer;"
              (click)="deleteTodo(todo)"></fa-icon>
          </span>
        </div>
      </li>
    </ul>
  <!-- </div>
</div> -->